@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

body {
  font-family: "DM SANS", sans-serif;
}

#articles-list {
  display: flex;
  flex-direction: column;
}

.article-container {
  display: flex;
  flex-direction: column;
  margin: 1%;
  width: 70%;
}

.article-title {
  display: inline-block;
}

.article-link {
  width: auto;
  text-decoration: none;
}

.article-image {
  width: 25%;
}
