@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

body {
  font-family: "DM SANS", sans-serif;
}

#site-header {
  display: flex;
  justify-content: center;
}

#site-title {
  align-self: flex-end;
  margin-right: 2%;
  color: #ff5700;
}

#site-image {
  height: 100px;
}

#articles-list {
  display: flex;
  flex-direction: column;
}

.article-container {
  display: flex;
  flex-direction: column;
  margin: 0.5%;
}

.article-title {
  display: inline-block;
}

.article-link {
  width: auto;
  text-decoration: none;
}

.article-image {
  width: 25%;
}

hr {
  border: none;
  border-top: 2px dotted rgb(140, 131, 165);
  color: #fff;
  background-color: #fff;
  height: 1px;
  margin: 0.5%;
}
